.footer {
  font-size: 24px;

}

.list-inline {
  list-style: none;
  display: inline-block;
  padding: 8px 0px;
  line-height: 1.5;
}

.list-inline li{
  display: inline-block;
  padding: 0px 0px;
}

.social-icon {
  font-size: 36px;
  color: #276149;
  margin: 20px 10px;
  padding: 0px;
  line-height: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.social-icon:hover {
  font-size: 36px;
  margin: 10px;
  color: #4f987a;
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
